.jumbotron-background-img {
  background-image: url("https://a0.muscache.com/im/pictures/99f41c80-cadb-4db7-9d96-027b04c5dede.jpg?im_w=1200");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
}

.jumbotron {
  height: 700px;
  position: relative;
}

.jumbotron-content {
  color: white;
}
.navbar {
  position: absolute !important;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}
.nav-link {
  color: white !important;
}
.nav-link:hover {
  color: black !important;
}
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
* {
  box-sizing: border-box;
}
.create-exp-btn {
  color: #fff !important;
  background-color: #28a745 !important;
  border-color: #28a745;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.create-exp-btn:hover {
 text-decoration: none !important;
 background-color: green !important;
}
body,
html {
  font-family: "Roboto Slab", serif;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

#root {
  position: relative;
}

.card--1 .card__img,
.card--1 .card__img--hover {
  background-image: url("https://images.pexels.com/photos/45202/brownie-dessert-cake-sweet-45202.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
}

.card__like {
  width: 18px;
}

.card__clock {
  width: 15px;
  vertical-align: middle;
  fill: #ad7d52;
}

.card__time {
  font-size: 12px;
  color: #ad7d52;
  vertical-align: middle;
  margin-left: 5px;
}

.card__clock-info {
  float: right;
}

.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
}

.card {
  margin-right: 25px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 33.3%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.1, 1.1);
}

.card__info {
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}

.card__category {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
}

.card__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Roboto Slab", serif;
}

.card__by {
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.card__author {
  font-weight: 600;
  text-decoration: none;
  color: #ad7d52;
}

.card:hover .card__img--hover {
  height: 100%;
  opacity: 0.3;
}

.card:hover .card__info {
  background-color: transparent;
  position: relative;
}

.card:hover .card__info-hover {
  opacity: 1;
}

.slider-card-list {
  padding-top: 30px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
}

.slider-card-list article {
  margin-bottom: 30px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

ul {
  margin: 0px;
  padding: 0px;
}

.footer-section {
  background: #151414;
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo img {
  max-width: 200px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.facebook-bg {
  background: #3b5998;
}

.twitter-bg {
  background: #55acee;
}

.google-bg {
  background: #dd4b39;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}

.footer-widget ul li {
  /* display: inline-block; */
  float: left;
  width: 50%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: #ff5e14;
}

.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: #ff5e14;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: #ff5e14;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.card {
  border-radius: 0px !important;
  width: 30% !important;
}

.MuiButton-containedPrimary {
  background-color: white !important;
  color: black !important;
  margin-right: 20px !important;
}

/*HUYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY*/
.body {
  /* padding: 50px 150px 50px 150px */
  background-color: black;
}
.section1 {
  background-color: black;
  height: auto;
  width: 100%;
}
.online-experience {
  background-color: white;
  color: black;
  padding: 2px 10px 2px 10px;
  display: flex;
  justify-content: space-between;
  width: 150px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 5px;
}

.section4 .host {
  padding: 40px 0 40px 0;
}

.section5 .items {
  padding: 40px 0 40px 0;
}

.section6 .participate {
  padding: 40px 0 40px 0;
}

.section7 .review {
  padding: 40px 0 40px 0;
}

.section1 .bottom-section {
  color: white;
  padding: 40px 20px 40px 20px;
}
.bottom-section .right-column .top-section {
  display: flex;
  align-items: center;
  padding: 20px;
}

.bottom-section .right-column .bottom-section {
  display: flex;
  justify-content: space-around;
}
.rating {
  display: flex;
}

.tags {
  margin: 10px 5px 20px 5px;
  background-color: #474747;
  padding: 2px 10px 2px 10px;
  font-size: 8.5pt;
  border-radius: 5px;
  letter-spacing: 1px;
}
.tags:hover {
  text-decoration: underline;
  cursor: pointer;
}

.section2 {
  background-color: white;
}

.section3 {
  background-color: #f2f2f2;
  padding: 150px;
}
.section3 .right-content {
  display: flex;
  padding: 0;
}

.section5 .right-content {
  display: flex;
  padding: 20px 20px 20px 0;
  border-bottom: 1px solid rgba(226, 226, 226, 0.61);
}

.participate .top-section {
  border-bottom: 1px solid rgba(226, 226, 226, 0.61);
  margin-bottom: 50px;
}

.review .right-content {
  border-bottom: 1px solid rgba(226, 226, 226, 0.61);
  padding: 0 0 40px 0;
}
.review .top-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.fa-star {
  color: #17a2b8;
  margin-right: 5px;
}

.keep-in-my .right-content {
  display: flex;
  padding-bottom: 40px;
  padding-top: 40px;
  border-bottom: 1px solid rgba(226, 226, 226, 0.61);
}

.moreexperience .img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

.card-section {
  display: flex;
  justify-content: space-evenly;
  padding: 0 0 40px 0;
}

p {
  margin-bottom: 0 !important;
}

.card-section .card {
  border: none;
}

.country:hover {
  cursor: pointer;
  text-decoration: underline;
}

.update-delete-button {
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 10pt;
  font-weight: 700;
  margin-left: 10px;
}
/*END END END END END END END END END END END END*/
a {
  color: black;
}

/* Smith section */
.FormCreate {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* Smith section */
